<main
  class="md:py-16 lg:p-16 md:space-y-16 text-nord6 [&_p]:text-nord4 [&_section]:(w-full,py-16,md:rounded-xl,shadow-[inset_0_5px_50px_40px_rgba(0,0,0,0.1)]) [&_h3]:(mb-8,text-4xl,font-extrabold) [&_.content]:(grid,grid-cols-1,items-center,gap-5) md:[&_.content]:!grid-cols-2 [&_span]:text-nord15">
  <section class="bg-nord1">
    <div class="flex px-12 md:(pl-32,pr-22) items-center justify-around flex-col gap-16 md:flex-row">
      <div class="w-full md:w-1/2">
        <span class="i-charm-lightning-bolt text-5xl mb-4"></span>
        <h3 class="flex items-center gap-4 mb-12 text-center md:text-left">Lightning fast</h3>
        <p>Tired of waiting for your browser to refresh your styles?
          <i>encre-css</i> leverages Rust's speed to outperform traditional frameworks like TailwindCSS and UnoCSS, ensuring
          rapid style generation and application for enhanced efficiency</p>
        <a href="https://gitlab.com/encre-org/encre-css-bench" class="btn-primary mt-6">Learn more</a>
      </div>
      <iframe class="w-full bg-nord1 md:w-1/2 md:min-w-140 h-170 md:h-110 overflow-hidden focus-visible:outline-none" src="https://encre-org.gitlab.io/encre-css-bench#dark"></iframe>
    </div>
  </section>

  <section class="bg-nord0">
    <div class="flex px-12 md:(pl-32,pr-22) items-center justify-around flex-col gap-16 md:flex-row">
      <div class="w-full md:w-1/2">
        <span class="i-charm-stack text-5xl mb-4"></span>
        <h3 class="flex items-center gap-4 mb-12 text-center md:text-left">Modular</h3>
        <p><i>encre-css</i> is designed for modularity, allowing you to easily create or integrate custom plugins to extend functionality</p>
        <a href="https://docs.rs/encre-css/latest/encre_css/plugins/index.html" class="btn-primary mt-6">Learn more</a>
      </div>
      <div class="w-full md:w-1/2 md:min-w-140 overflow-hidden gap-16 flex flex-col">
        <ul class="flex flex-col gap-4 p-4 bg-nord1 shadow-md h-full rounded-md [&_i]:text-nord15">
          <li><span class="inline-block bg-nord15 p-1 rounded-md w-10 h-10 mb-2"><span class="i-lucide-package text-3xl bg-nord1"></span></span></li>
          <li class="bg-nord2 px-4 py-2 rounded-md"><a href="https://gitlab.com/encre-org/encre-css/-/tree/main/crates/encre-css-typography"><i>encre-css-typography</i><br>Define beautiful typographic defaults for HTML you don’t control</a></li>
          <li class="bg-nord2 px-4 py-2 rounded-md"><a href="https://gitlab.com/encre-org/encre-css/-/tree/main/crates/encre-css-icons"><i>encre-css-icons</i><br>Quickly add pure CSS icons to your website</a></li>
          <li class="bg-nord2 px-4 py-2 rounded-md"><a href="https://docs.rs/encre-css/latest/encre_css/plugins/trait.Plugin.html"><i>your-own</i><br>Make your own plugin</a></li>
        </ul>
      </div>
    </div>
  </section>

  <!-- TODO: Really use encre-css by compiling it to WASM -->
  <section class="bg-nord1">
    <div class="flex px-12 md:(pl-32,pr-22) items-center justify-around flex-col gap-16 md:flex-row">
      <div class="w-full md:w-1/2">
        <span class="i-lucide-palette text-5xl mb-4"></span>
        <h3 class="flex items-center gap-4 mb-12 text-center !text-3xl md:!text-4xl md:text-left">Design-friendly</h3>
        <p>Do you need particular colors or screen breakpoints? Or do you have a clear idea of what a button should look like but you don't want to copy-paste the same list of classes every time?
        <i>encre-css</i> makes creating a design system very easy. You just have to write a TOML config file to define your own design system.</p>
        <a href="https://docs.rs/encre-css/latest/encre_css/config/index.html" class="btn-primary mt-6">Learn more</a>
      </div>
      <div class="w-full min-h-90 md:w-1/2 md:min-w-140 flex flex-col md:flex-row">
        <div class="md:w-1/2 h-auto rounded-lg rounded-b-none md:(rounded-r-none,rounded-b-lg) bg-nord0">
          <textarea id="preview-content" class="w-full h-full min-h-50 border-none p-4 rounded-lg rounded-b-none md:(rounded-r-none,rounded-b-lg) resize-none bg-inherit color-white focus:(outline-none,ring,ring-nord15)" autocomplete="off" spellcheck="off">
[theme.colors]
primary = '#A3BE8C'

[shortcuts]
button = "px-2 py-1 rounded-lg"
button-primary = "button bg-primary"
</textarea>
        </div>
        <div class="md:w-1/2 min-h-50 bg-white p-4 text-black rounded-lg rounded-t-none md:(rounded-l-none,rounded-t-lg)" id="design-system-preview">
          <div class="mb-4 bg-nord5 p-2 pr-4 flex items-center justify-between rounded-lg">
            <span class="i-material-symbols-crop-square-outline text-3xl !text-[color:var(--preview-primary)]"></span>
            <div class="flex items-center gap-4 children:!text-[color:var(--preview-primary)]">
              <span>Blog</span>
              <span>About</span>
              <span>RSS feed</span>
            </div>
          </div>
          <h3 class="!mb-4">Lorem ipsum</h3>
          <p class="!text-nord3 mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar a velit ac blandit.</p>
          <button class="px-2 py-1 rounded-lg bg-[color:var(--preview-primary)]">Get started</button>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-nord0">
    <div class="flex px-12 md:(pl-32,pr-22) items-center justify-around flex-col gap-16 md:flex-row">
      <div class="w-full md:w-1/2">
        <span class="i-material-symbols-checklist text-5xl mb-4"></span>
        <h3 class="flex items-center gap-4 mb-12 text-center !text-2xl md:!text-4xl md:text-left">Tailwind-compatible</h3>
        <p>You just want to try out <i>encre-css</i> without spending too much time? Your codebase is already ready! Just replace the `tailwindcss` command with `encrecss`
        and it will work!</p>
        <!-- TODO: Make a page explaining how to use the CLI -->
        <a href="https://docs.rs/encre-css/latest/encre_css/#command-line-interface" class="btn-primary mt-6">Learn more</a>
      </div>
      <div class="w-full min-h-90 md:w-1/2 md:min-w-140 flex flex-col items-center md:flex-row">
        <code class="flex flex-col gap-4 p-4 bg-nord1 shadow-md w-full h-full rounded-md">
          <pre class="whitespace-pre-line"><span>$ tailwindcss --content source.js | grep "{" | wc -l</span>

Rebuilding...

Done in 477ms.
1115

<span>$ encrecss build -i source.js | grep "{" | wc -l</span>
1115</pre>
        </code>
      </div>
    </div>
  </section>

  <section class="bg-nord1">
    <div class="flex px-12 md:(pl-32,pr-22) items-center justify-around flex-col gap-16 md:flex-row">
      <div class="w-full md:w-1/2">
        <span class="i-material-symbols-cycle text-5xl mb-4"></span>
        <h3 class="flex items-center gap-4 mb-12 text-center !text-2xl md:!text-4xl md:text-left">Without repetition</h3>
        <p><i>encre-css</i> supports variant groups to avoid repetition and all existing CSS
            values (where possible) instead of being limited to an opiniated list</p>
        <a href="https://docs.rs/encre-css/latest/encre_css/selector/index.html" class="btn-primary mt-6">Learn more</a>
      </div>
      <div class="w-full min-h-30 md:min-h-90 md:w-1/2 md:min-w-140 flex flex-col justify-center gap-4">
        <code class="flex flex-col gap-4 p-4 bg-nord0 shadow-md w-full h-full rounded-md [&_.keyword]:text-nord15 [&_.string]:text-nord14">
          <pre class="[white-space:break-spaces]">&lt;<span class="keyword">div</span> class=<span class="string">"border-3 dark:(text-white,hover:text-red-400)"</span>&gt;
  &lt;<span class="keyword">div</span> class=<span class="string">"order-12 rotate-23"</span>&gt;&lt;/<span class="keyword">div</span>&gt;
  &lt;<span class="keyword">button</span> class=<span class="string">"bg-blue-500 (hover,focus-within):bg-blue-400"</span>&gt;&lt;/<span class="keyword">button</span>&gt;
&lt;/<span class="keyword">div</span>&gt;</pre>
        </code>
      </div>
    </div>
  </section>

  <section class="bg-nord0">
    <div class="flex px-12 md:(pl-32,pr-22) items-center justify-around flex-col gap-16 md:flex-row">
      <div class="w-full md:w-1/2">
        <span class="i-mdi-language-css3 text-5xl mb-4"></span>
        <h3 class="flex items-center gap-4 mb-12 text-center !text-3xl md:!text-4xl md:text-left">Custom utilities</h3>
        <p><i>encre-css</i> supports custom CSS selectors, values and properties with auto-infered
        property name based on the property value</p>
        <a href="https://docs.rs/encre-css/latest/encre_css/selector/index.html" class="btn-primary mt-6">Learn more</a>
      </div>
      <div class="w-full min-h-30 md:min-h-90 md:w-1/2 md:min-w-140 flex flex-col items-center md:flex-row">
        <code class="flex flex-col gap-4 p-4 bg-nord1 shadow-md w-full h-full rounded-md [&_.keyword]:text-nord15 [&_.string]:text-nord14">
          <pre class="[white-space:break-spaces]">&lt;<span class="keyword">div</span> class=<span class="string">"[&_.keyword]:text-red-400 bg-[url('/image.png')]"</span>&gt;
  &lt;<span class="keyword">span</span> class=<span class="string">"keyword"</span>&gt;fn&lt;/<span class="keyword">div</span>&gt;
&lt;/<span class="keyword">div</span>&gt;</pre>
        </code>
      </div>
    </div>
  </section>
</main>

<script>
const previewContent = document.getElementById("preview-content");
const preview = document.getElementById("design-system-preview");
previewContent.addEventListener("input", () => {
  const content = previewContent.value;
  const primaryValue = (/primary.*=.*'(.*)'/.exec(content) || ["", "#A3BE8C"])[1];
  preview.style.setProperty("--preview-primary", primaryValue);
});
</script>

<style>
#design-system-preview {
  --preview-primary: #A3BE8C;
}
</style>
