<footer id="footer" class="w-full md:px-16 text-nord6">
  <div class="flex items-center justify-between dark:border-t-1 dark:border-nord3 pt-8 pb-12 p-12 md:rounded-t-xl dark:!rounded-t-none bg-nord0">
    <!-- Logo -->
    <a href="/" class="text-nord15 flex items-center space-x-1">
      <img src="assets/logo.svg">
      <span class="text-nord6 font-bold text-xl">encre-css</span>
    </a>

    <a href="https://gitlab.com/encre-org/encre-css" class="btn-filled btn-icon !block hover:bg-nord1 focus:outline-none">
      <span class="text-3xl i-charm-gitlab block"></span>
    </a>
  </div>
</footer>
