<header id="header" class="absolute w-full py-4 bg-transparent md:bg-nord0 dark:!bg-transparent md:bg-transparent md:!bg-transparent px-8">
  <div class="content flex justify-between bg-transparent md:bg-nord0 dark:!bg-transparent text-white px-4 py-2 md:rounded-xl">
    <!-- Logo -->
    <a href="/" class="text-nord15 flex items-center space-x-1">
      <img src="assets/logo.svg">
      <span class="text-nord6 font-bold text-xl">encre-css</span>
    </a>

    <x-navbar />
  </div>
</header>
